<head>
    <style type="text/css">
        .auto-style1
        {
            width: 957px;
            height: 248px;
        }
    </style>
</head>
<h2>
    <img alt="GeoKultur" class="auto-style1" src="Images/GeoKulturLogo.png" /></h2>
<p></p>
<p>
    GeoKultur is a tool to discover culture around you. It uses the Norvegiana and Europeana culture databases to find cultural information around you.<br />
    </p><p>
    It was originally developed for the Apps4Norway national coding competition for best use of open data, and it won first place.
    <br />
</p>
<p>GeoKultur is BSD-licensed open source code. Although initially in independent project, version 2 of GeoKultur is now based on the BSD-licensed source code for Kultur- og Naturreise developed by the Arts Council of Norway.</p>
