.divMenuButtons{
    width: 98%;
    height: 90px;
    /*border-bottom: 1px solid #343434;*/
}
.divMenuButtons h2{
    width:50%;
    float: left;
    padding-left: 20px;
    font-family: 'Raleway', sans-serif;
    /*font-size: 30px;
    margin-top: 40px;*/
	font-size: 2em;
	margin-top: 15px;
    font-weight:normal;

}

#logoFrame{
    
}

.divMenuButtons img{
    float: left;
    margin-left: 20px;
    max-height:70px;
}
.topMenuImage {
    height:52px;
    width:52px;
    padding-left: 2px;
}
.nobr { white-space:nowrap; }

.plainlist{
    list-style:none;
}

.greenBackground{
    background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E2FFD8;
}

.menuButtonWrapper{
    max-width: 800px;
    margin: auto;
}

#imgLogo{
    width:100%;
}



